<template>
  <v-row align="center" justify="center">
    <v-col cols="12" sm="8" md="4">
      <v-card class="elevation-12">
        <v-toolbar color="primary" dark flat>
          <v-toolbar-title>{{ $t("login.title") }}</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <v-form>
            <v-text-field
              :label="$t('login.username')"
              name="login"
              prepend-icon="mdi-account"
              type="text"
              v-model="username"
            ></v-text-field>

            <v-text-field
              id="password"
              :label="$t('login.password')"
              name="password"
              prepend-icon="mdi-lock"
              type="password"
              v-model="password"
            ></v-text-field>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" @click.native="login">Login</v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import gql from "graphql-tag";

const loginMutation = gql`
  mutation($username: String!, $password: String!) {
    login(username: $username, password: $password) {
      token
      role
      profileId
      userId
    }
  }
`;

export default {
  name: "login",
  data: () => ({ username: "", password: "" }),

  methods: {
    async login() {
      const {
        data: { login }
      } = await this.$apollo.mutate({
        mutation: loginMutation,
        variables: { username: this.username, password: this.password }
      });
      localStorage.setItem("apollo-token", login.token);
      localStorage.setItem("profileId", login.profileId);
      localStorage.setItem("role", login.role);
      this.redirect(login.role);
    },
    redirect(role) {
      switch (role) {
        case "ADMIN":
          this.$router.push({ name: "admin-dashboard" });
          break;
        case "TEACHER":
          this.$router.push({ name: "teacher-dashboard" });
          break;
        case "STUDENT":
          this.$router.push({ name: "student-dashboard" });
          break;
      }
    }
  },
  mounted() {
    const profileId = localStorage.getItem("profileId");
    const profileType = localStorage.getItem("role");
    if (profileId && profileType) {
      this.redirect(profileType);
    }
  }
};
</script>
