<template>
  <v-card>
    <v-card-title>{{ $t("add_one_student") }}</v-card-title>
    <v-card-text>
      <v-form v-model="formValid">
        <v-container>
          <v-text-field
            v-model="firstname"
            :rules="firstnameRules"
            :label="$t('firstname')"
            required
          ></v-text-field>
          <v-text-field
            v-model="lastname"
            :rules="lastnameRules"
            :label="$t('lastname')"
            required
          ></v-text-field>
          <v-text-field
            v-model="username"
            :rules="usernameRules"
            :label="$t('username')"
            required
          ></v-text-field>
          <v-text-field
            v-model="email"
            :rules="emailRules"
            :label="$t('email')"
          ></v-text-field>
          <v-text-field
            v-model="password"
            :rules="passwordRules"
            :label="$t('login.password')"
            required
          ></v-text-field>
        </v-container>
      </v-form>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="error" @click="close">{{ $t("cancel") }}</v-btn>
      <v-btn color="success" :disabled="!formValid" @click="save">{{
        $t("confirm")
      }}</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: "AdminStudentCreationDialog",
  data: () => ({
    formValid: false,
    firstname: "",
    lastname: "",
    username: "",
    email: "",
    password: ""
  }),
  methods: {
    close() {
      this.$emit("close");
    },
    save() {
      if (this.formValid) {
        console.log("Saving");
        this.$emit("confirm", {
          firstname: this.firstname,
          lastname: this.lastname,
          username: this.username,
          email: this.email,
          password: this.password
        });
        this.firstname = "";
        this.lastname = "";
        this.username = "";
        this.email = "";
        this.password = "";
      }
    }
  },
  computed: {
    firstnameRules: function() {
      return [v => !!v || this.$t("required")];
    },
    lastnameRules: function() {
      return [v => !!v || this.$t("required")];
    },
    usernameRules: function() {
      return [v => !!v || this.$t("required")];
    },
    passwordRules: function() {
      return [
        v => !!v || this.$t("required"),
        v => (v && v.length >= 8) || this.$t("too_short")
      ];
    },
    emailRules: function() {
      return [v => /.+@.+\..+/.test(v) || this.$t("email_not_valid")];
    }
  }
};
</script>
