<template>
  <div>
    <admin-student-button-set @action="handleActionFromButtons" />
    <v-skeleton-loader v-if="$apollo.queries.students.loading" type="table" />
    <admin-student-iterator
      v-else
      :students="students"
      @delete="deleteStudent"
    />
    <v-dialog v-model="showCreationDialog" persistent max-width="700px">
      <admin-student-creation-dialog
        @close="showCreationDialog = false"
        @confirm="createStudent"
      />
    </v-dialog>
  </div>
</template>

<script>
import AdminStudentIterator from "./AdminStudentIterator";
import AdminStudentButtonSet from "./AdminStudentButtonSet";
import AdminStudentCreationDialog from "./AdminStudentCreationDialog";

import { FETCH_STUDENTS, CREATE_STUDENT, DELETE_STUDENT } from "./queries.js";

export default {
  name: "AdminStudent",
  components: {
    AdminStudentIterator,
    AdminStudentButtonSet,
    AdminStudentCreationDialog
  },
  data: () => ({
    showCreationDialog: false
  }),
  methods: {
    async createStudent(data) {
      this.showCreationDialog = false;
      console.log("Create student");
      await this.$apollo.mutate({
        mutation: CREATE_STUDENT,
        variables: {
          student: data
        }
      });
      this.$apollo.queries.students.refetch();
    },
    async deleteStudent(data) {
      await this.$apollo.mutate({
        mutation: DELETE_STUDENT,
        variables: {
          studentId: data
        }
      });
      this.$apollo.queries.students.refetch();
    },
    async handleActionFromButtons(data) {
      switch (data) {
        case "addOneStudent":
          this.showCreationDialog = true;
          break;
        case "deleteStudent":
          await this.deleteStudent(data);
          break;
      }
    }
  },
  apollo: {
    students: FETCH_STUDENTS
  }
};
</script>
