<template>
  <div>
    <v-btn
      v-for="field in fields"
      :key="field.id"
      v-t="field.name"
      @click.stop="click(field.id)"
      small
      class="ml-2"
      color="primary"
    ></v-btn>
  </div>
</template>

<script>
export default {
  name: "AdminStudentButtonSet",
  data: () => ({
    fields: [
      { id: "addOneStudent", name: "add_one_student" },
      { id: "addManyStudents", name: "add_many_students" }
    ]
  }),
  methods: {
    click(id) {
      this.$emit("action", id);
    }
  }
};
</script>
