<template>
  <div>
    <v-btn small :to="{ name: 'students' }" color="secondary">{{
      $t("return")
    }}</v-btn>
    <v-skeleton-loader
      class="mt-2"
      v-if="$apollo.queries.student.loading"
      type="card, table"
    />
    <div v-else>
      <h2 class="mt-4">{{ $t("student_infos") }}</h2>
      <h3 class="mt-3">{{ student.firstname }} {{ student.lastname }}</h3>
      <p class="mt-2">
        {{ $t("username_is", [student.user.username]) }}
      </p>
      <!-- Groups -->
      <h4 class="mt-3">{{ $t("groups") }}</h4>
      <groups-iterator :groups="student.groups" />
      <group-assignment-dialog
        :show="showGroupAssignmentDialog"
        @close="showGroupAssignmentDialog = false"
        @save="assignStudentToGroup"
      />
      <v-btn
        class="mt-2"
        small
        color="primary"
        @click.stop="showGroupAssignmentDialog = true"
        >{{ $t("add_to_group") }}
      </v-btn>
      <!-- Lessons -->
      <h4 class="mt-3">{{ $t("lessons") }}</h4>
      <lessons-iterator :lessons="student.lessons" />
      <lesson-assignment-dialog
        :show="showLessonAssignmentDialog"
        :show-student-warning="true"
        @close="showLessonAssignmentDialog = false"
        @save="assignStudentToLesson"
      />
      <v-btn
        class="mt-2"
        small
        color="primary"
        @click.stop="showLessonAssignmentDialog = true"
        >{{ $t("add_to_lesson") }}</v-btn
      >
    </div>
  </div>
</template>

<script>
import GroupsIterator from "@/components/GroupsIterator";
import LessonsIterator from "@/components/LessonsIterator";
import GroupAssignmentDialog from "@/components/GroupAssignmentDialog";
import LessonAssignmentDialog from "@/components/LessonAssignmentDialog";

import {
  FETCH_STUDENT_INFOS,
  ASSIGN_STUDENT_TO_GROUP,
  ASSIGN_STUDENT_TO_LESSON
} from "./queries";

export default {
  name: "AdminStudentViewer",
  components: {
    GroupsIterator,
    LessonsIterator,
    GroupAssignmentDialog,
    LessonAssignmentDialog
  },
  data: () => ({
    showGroupAssignmentDialog: false,
    showLessonAssignmentDialog: false
  }),
  methods: {
    async assignStudentToGroup(groupId) {
      this.showGroupAssignmentDialog = false;
      await this.$apollo.mutate({
        mutation: ASSIGN_STUDENT_TO_GROUP,
        variables: { studentId: this.$route.params.id, groupId }
      });
      this.$apollo.queries.student.refetch();
    },
    async assignStudentToLesson(lessonId) {
      this.showLessonAssignmentDialog = false;
      await this.$apollo.mutate({
        mutation: ASSIGN_STUDENT_TO_LESSON,
        variables: { studentId: this.$route.params.id, lessonId }
      });
      this.$apollo.queries.student.refetch();
    }
  },
  apollo: {
    student() {
      return {
        query: FETCH_STUDENT_INFOS,
        variables: { studentId: this.$route.params.id }
      };
    }
  }
};
</script>
