<template>
  <v-simple-table>
    <template v-slot:default>
      <thead>
        <tr>
          <th class="text-left">{{ $t("full_name") }}</th>
          <th class="text-left">{{ $t("username") }}</th>
          <th class="text-left">{{ $t("email") }}</th>
          <th class="text-left">{{ $t("groups") }}</th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="click-pointer"
          v-for="student in students"
          :key="student.id"
          @click="$router.push({ name: 'student', params: { id: student.id } })"
        >
          <td>{{ student.displayName }}</td>
          <td>{{ student.user.username }}</td>
          <td>{{ student.user.email }}</td>
          <td>
            <v-chip-group
              ><v-chip
                link
                v-for="group in student.groups"
                :key="group.id"
                @click.stop="
                  $router.push({ name: 'group', params: { id: group.id } })
                "
                >{{ group.title }}</v-chip
              >
            </v-chip-group>
          </td>
        </tr>
      </tbody>
    </template>
  </v-simple-table>
</template>

<script>
import "@/assets/custom.css";

export default {
  name: "StudentIterator",
  props: {
    students: Array
  },
  data: () => ({}),
  methods: {
    formattedGroups(student) {
      return student.groups.map(group => group.title).join(", ");
    },
    handleAction(data) {
      switch (data) {
        case "deleteStudent":
          this.$emit("delete", this.selectedStudentByMenu);
          break;
      }
    }
  }
};
</script>
