<template>
  <v-tabs centered dark>
    <v-tab :to="{ name: 'lessons' }">{{ $t("admin.dashboard.lessons") }}</v-tab>
    <v-tab :to="{ name: 'students' }">{{
      $t("admin.dashboard.students")
    }}</v-tab>
    <v-tab :to="{ name: 'groups' }">{{ $t("admin.dashboard.groups") }}</v-tab>
    <v-tab :to="{ name: 'teachers' }">{{
      $t("admin.dashboard.teachers")
    }}</v-tab>
    <v-tab :to="{ name: 'admins' }">{{ $t("admin.dashboard.admins") }}</v-tab>
    <v-tab :to="{ name: 'subjects' }">{{
      $t("admin.dashboard.subjects")
    }}</v-tab>
    <v-tab :to="{ name: 'classrooms' }">
      {{ $t("admin.dashboard.classrooms") }}
    </v-tab>
  </v-tabs>
</template>

<script>
export default {
  name: "AdminToolbar",
  data: () => ({})
};
</script>
