<template>
  <v-app>
    <v-app-bar dense dark app>
      <v-app-bar-nav-icon></v-app-bar-nav-icon>

      <v-toolbar-title>{{ $t("app.title") }}</v-toolbar-title>

      <v-spacer></v-spacer>

      <!-- <v-btn icon>
        <v-icon>mdi-heart</v-icon>
      </v-btn> -->

      <locale-changer />

      <user-info />

      <template v-slot:extension>
        <router-view name="toolbar"></router-view>
      </template>
    </v-app-bar>
    <!-- Sizes your content based upon application components -->
    <v-main>
      <!-- Provides the application the proper gutter -->
      <v-container fluid>
        <!-- If using vue-router -->
        <v-slide-y-transition mode="out-in">
          <router-view></router-view>
        </v-slide-y-transition>
      </v-container>
    </v-main>

    <v-footer app>{{ $t("app.footer") }}</v-footer>
  </v-app>
</template>

<script>
import LocaleChanger from "@/components/LocaleChanger";
import UserInfo from "@/components/UserInfo";

export default {
  name: "App",
  components: { LocaleChanger, UserInfo },
  data: () => ({})
};
</script>
