<template>
  <v-card-actions>
    <template v-if="inEdition || loading">
      <v-btn color="success" @click.native="save" :loading="loading">{{
        $t("edit_buttons.save")
      }}</v-btn>
      <v-btn color="error" @click.native="cancel" :disabled="loading">{{
        $t("edit_buttons.cancel")
      }}</v-btn>
    </template>

    <v-btn v-else color="primary" @click.native="startEdition">{{
      $t("edit_buttons.edit")
    }}</v-btn>
  </v-card-actions>
</template>

<script>
export default {
  name: "EditButtonSet",
  props: { loading: { default: false, type: Boolean } },
  data: () => ({ inEdition: false }),
  methods: {
    startEdition() {
      this.inEdition = true;
      this.$emit("edit");
    },
    cancel() {
      this.inEdition = false;
      this.$emit("cancel");
    },
    save() {
      this.inEdition = false;
      this.$emit("save");
    }
  }
};
</script>
