<template>
  <v-simple-table>
    <template v-slot:default>
      <thead>
        <tr>
          <th>{{ $t("title") }}</th>
          <th>{{ $t("description") }}</th>
          <th>{{ $t("students_count") }}</th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="group in groups"
          :key="group.id"
          @click="$router.push({ name: 'group', params: { id: group.id } })"
        >
          <td>{{ group.title }}</td>
          <td>{{ group.description }}</td>
          <td>{{ group.students.length }}</td>
        </tr>
      </tbody>
    </template>
  </v-simple-table>
</template>

<script>
export default {
  name: "GroupIterator",
  props: { groups: Array }
};
</script>
