<template>
  <v-dialog v-model="show" persistent>
    <v-card>
      <v-card-title>{{ $t("add_to_group") }}</v-card-title>
      <v-card-text>
        <v-form v-model="formValid">
          <v-container>
            <v-skeleton-loader
              v-if="$apollo.queries.groups.loading"
              type="list-item-two-line"
            ></v-skeleton-loader>
            <v-autocomplete
              v-else
              v-model="groupId"
              dense
              filled
              :items="autocompleteItems"
              :filter="filter"
              item-text="name"
              item-value="id"
              :label="$t('group')"
              required
              :rules="[v => !!v || $t('required')]"
            ></v-autocomplete>
          </v-container>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="error" @click="close">{{ $t("cancel") }}</v-btn>
        <v-btn color="success" :disabled="!formValid" @click="save">{{
          $t("confirm")
        }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import gql from "graphql-tag";

const groupsQuery = gql`
  query {
    groups {
      id
      title
    }
  }
`;

export default {
  name: "GroupAssignmentDialog",
  props: { show: Boolean },
  data: () => ({ formValid: false, groupId: "" }),
  methods: {
    save() {
      this.$emit("save", this.groupId);
    },
    close() {
      this.$emit("close");
    },
    filter(item, queryText) {
      const text = item.name.toLowerCase();
      const searchText = queryText.toLowerCase();
      return text.indexOf(searchText) > -1;
    }
  },
  computed: {
    autocompleteItems() {
      return this.groups.map(group => ({
        id: group.id,
        name: group.title
      }));
    }
  },
  apollo: {
    groups: groupsQuery
  }
};
</script>
