<template>
  <v-simple-table>
    <template v-slot:default>
      <thead>
        <tr>
          <th>{{ $t("title") }}</th>
          <th>{{ $t("description") }}</th>
          <th>{{ $t("subjects") }}</th>
          <th>{{ $t("teachers") }}</th>
          <th>{{ $t("groups") }}</th>
          <th>{{ $t("classroom") }}</th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="lesson in lessons"
          :key="lesson.id"
          @click="$router.push({ name: 'lesson', params: { id: lesson.id } })"
        >
          <td>{{ lesson.title }}</td>
          <td>{{ lesson.description }}</td>
          <!-- Subjects -->
          <td>
            <v-chip-group>
              <v-chip
                link
                v-for="subject in lesson.subjects"
                :key="subject.id"
                @click.stop="
                  $router.push({ name: 'subject', params: { id: subject.id } })
                "
                >{{ subject.title }}</v-chip
              >
            </v-chip-group>
          </td>
          <!-- Teachers -->
          <td>
            <v-chip-group>
              <v-chip
                link
                v-for="teacher in lesson.teachers"
                :key="teacher.id"
                @click.stop="
                  $router.push({ name: 'teacher', params: { id: teacher.id } })
                "
                >{{ teacher.title }}</v-chip
              >
            </v-chip-group>
          </td>
          <!-- Groups -->
          <td>
            <v-chip-group>
              <v-chip
                link
                v-for="group in lesson.groups"
                :key="group.id"
                @click.stop="
                  $router.push({ name: 'group', params: { id: group.id } })
                "
                >{{ group.title }}</v-chip
              >
            </v-chip-group>
          </td>
          <td>{{ lesson.classroom ? lesson.classroom.title : undefined }}</td>
        </tr>
      </tbody>
    </template>
  </v-simple-table>
</template>

<script>
export default {
  name: "LessonsIterator",
  props: { lessons: Array },
  data: () => ({}),
  methods: {
    formatSubjects(subjects) {
      return subjects.map(subject => subject.title).join(", ");
    },
    formatGroups(groups) {
      return groups.map(group => group.title).join(", ");
    },
    formatTeachers(teachers) {
      return teachers.map(teacher => teacher.displayName).join(", ");
    }
  }
};
</script>
