<template>
  <v-dialog v-model="show" persistent>
    <v-card>
      <v-card-title>{{ $t("add_to_lesson") }}</v-card-title>
      <v-card-text>
        <v-form v-model="formValid">
          <v-container>
            <p v-if="showStudentWarning">{{ $t("student_lesson_warning") }}</p>
            <v-skeleton-loader
              v-if="$apollo.queries.lessons.loading"
              type="list-item-two-line"
            ></v-skeleton-loader>
            <v-autocomplete
              v-else
              v-model="lessonId"
              dense
              filled
              :items="autocompleteItems"
              :filter="filter"
              item-text="name"
              item-value="id"
              :label="$t('lesson')"
              required
              :rules="[v => !!v || $t('required')]"
            ></v-autocomplete>
          </v-container>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="error" @click="close">{{ $t("cancel") }}</v-btn>
        <v-btn color="success" :disabled="!formValid" @click="save">{{
          $t("confirm")
        }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import gql from "graphql-tag";

const lessonsQuery = gql`
  query {
    lessons {
      id
      title
    }
  }
`;

export default {
  name: "LessonAssignmentDialog",
  props: {
    show: Boolean,
    showStudentWarning: { type: Boolean, default: false }
  },
  data: () => ({ formValid: false, lessonId: "" }),
  methods: {
    save() {
      this.$emit("save", this.lessonId);
    },
    close() {
      this.$emit("close");
    },
    filter(item, queryText) {
      const text = item.name.toLowerCase();
      const searchText = queryText.toLowerCase();
      return text.indexOf(searchText) > -1;
    }
  },
  computed: {
    autocompleteItems() {
      return this.lessons.map(lesson => ({
        id: lesson.id,
        name: lesson.title
      }));
    }
  },
  apollo: {
    lessons: lessonsQuery
  }
};
</script>
