<template>
  <v-menu offset-y>
    <template v-slot:activator="{ on, attrs }">
      <v-btn icon v-bind="attrs" v-on="on">
        <v-icon>mdi-translate</v-icon>
      </v-btn>
    </template>
    <v-list>
      <v-list-item link v-for="lang in langs" :key="lang.code">
        <v-list-item-title @click="changeLocale(lang.code)">
          {{ lang.name }} ({{ lang.code }})
        </v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script>
export default {
  name: "LocaleChanger",
  data: () => ({
    langs: [
      { name: "Français", code: "fr" },
      { name: "English", code: "en" }
    ]
  }),
  methods: {
    changeLocale(code) {
      localStorage.setItem("locale", code);
      this.$root.$i18n.locale = code;
    }
  }
};
</script>
