<template>
  <v-menu offset-y>
    <template v-slot:activator="{ on, attrs }">
      <v-btn icon v-bind="attrs" v-on="on">
        <v-icon>mdi-account</v-icon>
      </v-btn>
    </template>
    <v-card v-if="profileId && profileType && result">
      <v-card-title>
        {{ $t(profileType.toLowerCase()) }}
      </v-card-title>
      <v-card-text>
        {{ result.displayName }}
      </v-card-text>
    </v-card>
    <v-card v-else>
      <v-card-title>
        {{ $t("not_connected") }}
      </v-card-title>
    </v-card>
  </v-menu>
</template>

<script>
import gql from "graphql-tag";

const studentInfoQuery = gql`
  query {
    meStudent {
      displayName
      user {
        username
        email
      }
    }
  }
`;
const teacherInfoQuery = gql`
  query {
    meTeacher {
      displayName
      user {
        username
        email
      }
    }
  }
`;
const adminInfoQuery = gql`
  query {
    meAdmin {
      displayName
      user {
        username
        email
      }
    }
  }
`;

export default {
  name: "UserInfo",
  data: () => ({ profileId: "", profileType: "", result: null }),
  methods: {
    update() {
      this.profileId = localStorage.getItem("profileId");
      this.profileType = localStorage.getItem("role");
      this.$apollo.queries.meStudent.refetch();
      this.$apollo.queries.meTeacher.refetch();
      this.$apollo.queries.meAdmin.refetch();
    }
  },
  beforeRouteUpdate() {
    this.update();
  },
  mounted() {
    this.update();
  },
  apollo: {
    meStudent: {
      query: studentInfoQuery,
      skip() {
        return this.profileType !== "STUDENT";
      },
      result({ data }) {
        this.result = data.meStudent;
      }
    },
    meTeacher: {
      query: teacherInfoQuery,
      skip() {
        return this.profileType !== "TEACHER";
      },
      result({ data }) {
        this.result = data.meTeacher;
      }
    },
    meAdmin: {
      query: adminInfoQuery,
      skip() {
        return this.profileType !== "ADMIN";
      },
      return({ data }) {
        this.result = data.meAdmin;
      }
    }
  }
};
</script>
